body{
    background-color: tomato;

}

.flex-container{
    display: inline-flex;
    flex-direction: column;
}

.flex-container > div{
    box-sizing: content-box;
    background-color: white;
    width:300px;
    text-align: center;

}
.img-container{
    max-width: 100%;
    height: 200px;
    overflow: hidden;
}

img{
    height:100%;
    width: auto;
}

button{
    padding: 5px;
    border-radius: 15px;
    border-color: red;
    align: center;
}
